@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

/* TYPOGRAPHY */

/* 
=================================================================================
=================================================================================
 GENERAL
=================================================================================
=================================================================================
*/

.cera_pro {
    font-family: 'PT Sans', sans-serif;;
}

.chronicle {
    font-family: 'Lora', serif;
}

a {
	text-decoration: none;
}

h1 p {
	font-size: 48px;
	line-height: 58px;
	font-weight: 600;
}

h2 p {
	font-size: 40px;
	line-height: 40px;
	font-weight: 700;
}

h3 p {
	font-size: 36px;
	line-height: 43px;
	font-weight: 600;
}

h4 p {
	font-size: 32px;
	line-height: 43px;
	font-weight: 700;
}

h5 p {
	font-size: 24px;
	font-weight: 900;
}

h6 p {
	font-size: 20px;
	line-height: 24px;
	font-weight: 700;
}

.three {
	font-size: 13px;
	line-height: 24px;
	font-weight: 700;
}

.four {
	font-size: 14px;
	line-height: 17px;
	font-weight: 500;
}

.five {
	font-size: 15px;
	line-height: 20px;
	font-weight: 500;
}

.six {
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
}

.eight {
	font-size: 18px;
	line-height: 24px;
	font-weight: 400;
}

/* 
=================================================================================
=================================================================================
 specific
=================================================================================
=================================================================================
*/


/* 
=================================================================================
 header
=================================================================================
*/

.header_nav li a {
	text-decoration: none;
	font-size: 14px;
	font-weight: 200;
	color: rgb(15, 52, 108);
}

/* 
=================================================================================
 hero
=================================================================================
*/

.ads p {
	font-size: 16px;
	font-weight: 600;
	color: white;
}

.hero_hd p {
    font-size: 38px;
	line-height: 48px;
	font-weight: 600;
	color: rgb(0, 38, 132);
}

.hero_mid_left h6 {
	color: white;
}

.hero_mid_left .six {
	color: rgb(200, 220, 253);
	line-height: 20px;
}

.hero_mid_left small {
	font-style: italic;
	color: rgb(0, 160, 223);
}

.hero_btm h4 p {
    font-size: 28px;
    margin-bottom: 20px;
}

.hero_btm .six {
    font-size: 17px;
}

/* 
=================================================================================
 offres
=================================================================================
*/

.aft_hr_main h3 p {
    font-weight: bolder;
    word-spacing: 5px;
    letter-spacing: 3px;
	color: rgb(0, 38, 132);
}

.aft_hr_main h1 {
	color: rgb(0, 160, 223);
}

.offers_main {
    letter-spacing: 1.5px;
}

.cat .three {
	color: rgb(0, 44, 155);
	line-height: 24px;
    margin-bottom: 6px;
}

.cat .five {
	color: rgb(106, 109, 117);
	line-height: 20px;
}

/* 
=================================================================================
 Qualities
=================================================================================
*/

.qlt_head h2 {
	color: rgb(0, 44, 155);
	line-height: 50px;
	margin-bottom: 15px;
}

.qlt_head h6 p {
	color:rgb(48, 50, 54);
	line-height: 24px;
    font-weight: 500;
}

.qlt_main_sub .five:first-of-type {
	color: rgb(48, 50, 54);
	font-weight: 700;
	line-height: 24px;
    margin-bottom: 10px;
}

.qlt_main_sub .five:last-of-type {
	color: rgb(48, 50, 54);
	font-weight: 400;
	line-height: 20px;
    margin: 0 34px;
}

/* 
=================================================================================
 act
=================================================================================
*/

.act_main h6 {
    margin: 40px 0;
    color: #00a0df;
    letter-spacing: 1px;
}

.act_main h5 {
    color: #002c9b;
    letter-spacing: 1px;
}

.act_main .six {
    font-weight: 900;
    color: #002c9b;
    margin: 0 auto;
    margin-top: 33px;
    width: max-content;
    border-top: 4px solid #00a0df;
    padding: 30px 6px;
}

/* 
=================================================================================
 start
=================================================================================
*/

.start_main h4 {
    color: #002c9b;
    margin-bottom: 10px;
}

.start_main .eight {
    color: #6a6d75;
    margin-bottom: 20px;
}
